.search-box,
.search-input {
  position: absolute;
  top: 13px;
  display: flex;
  width: 100%;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-icon {
  background-color: white;
  border-radius: 0;
  border-right: 1px solid #e0e0e0;
}

.info-window {
  padding: 16px;
}

.autocomplete {
  background-color: white;
  padding: 0;
}

[class*='theme--hint'] {
  color: #b7b6b6;
  top: calc(calc(2 * 4px) + 1.5 * calc(0.8 * 4px));
  padding-left: 6px;
}
