@import '../../../scss/zindex';
@import '../../../scss/variables';

.appBar {
  background: black !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-navbar;
  padding-right: 0;
  padding-left: 0;
  height: #{$navbar-height}px;
  transition: height 0.4s;
  color: white;
  &.-hide {
    overflow: hidden;
    border-bottom: 0;
    height: 0;
  }
  &.-tall {
    height: 16rem;
  }
  .logo {
    display: contents;
  }
}

@media (max-width: 1000px) {
  .button {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .button {
    font-size: 10px;
  }
}

@media (max-width: 660px) {
  .button {
    font-size: 8px;
  }
}

@media (max-width: 400px) {
  .button {
    font-size: 6px;
  }
}
