@import '../../../scss/zindex';
@import '../../../scss/variables';
.appBar {
  background: rgb(0, 0, 0) !important;
  color: rgb(255, 255, 255);
  height: #{$navbar-height}px;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  transition: height 0.4s;
  width: 100%;
  z-index: $z-navbar;
  &.-hide {
    border-bottom: 0;
    height: 0;
    overflow: hidden;
  }
  &.-tall {
    height: 16rem;
  }
  .logo {
    display: contents;
  }
  .power {
    align-items: flex-end;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    font-size: 9px;
    flex-grow: 2;
    height: 100%;
    justify-content: center;
    .link {
      padding-left: 3px;
      text-decoration: none;
      display: contents;
    }
  }
}

@media (max-width: 1000px) {
  .appBar {
    [class*='theme--button--'] {
      font-size: 10px !important;
    }
    span.-icon.xlg {
      height: 42px;
      width: 42px;
    }
    .power {
      font-size: 7px;
    }
  }
}

@media (max-width: 800px) {
  .appBar {
    [class*='theme--button--'] {
      font-size: 9px !important;
    }
    span.-icon.xlg {
      height: 30px;
      width: 30px;
    }
    .power {
      font-size: 6px;
    }
  }
}

@media (max-width: 660px) {
  .appBar {
    [class*='theme--button--'] {
      font-size: 8px !important;
    }
    span.-icon.xlg {
      height: 24px;
      width: 24px;
    }
    .power {
      font-size: 5px;
    }
  }
}

@media (max-width: 400px) {
  .appBar {
    [class*='theme--button--'] {
      font-size: 6px !important;
    }
    span.-icon.xlg {
      height: 18px;
      width: 18px;
    }
    .power {
      font-size: 4px;
    }
  }
}
