.appBar {
  background-color: black;
  border-bottom: 1px #e0e0e0 solid;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  height: 4rem;
  transition: height 0.4s;
  color: white;
  &.-hide {
    overflow: hidden;
    border-bottom: 0;
    height: 0;
  }
  &.-tall {
    height: 16rem;
  }
  .spacer {
    flex-grow: 1;
  }
}
