@import '../../../../scss/variables';

.left-drawer {
  padding-top: #{$navbar-height + $container-padding}px;
  font-size: 0.9rem;
  .category {
    font-size: 0.7rem;
  }
  .selectAll {
    padding-left: #{$container-padding}px;
  }
  .subItems {
    padding-left: $container-padding + 20px;
    margin-top: 5%;
    &:first-child {
      margin-top: 0;
    }
    [data-react-toolbox='checkbox'] {
      [data-react-toolbox='label'] {
        font-size: 0.7rem;
        width: 90%;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
    }
  }
}
