.inline-drawer {
  background-color: #fff;
  z-index: 10;
  transform: translateZ(0);
  transition: width 0.2s ease-in-out;
  width: 0;

  &.-right {
    border-left: 1px solid #e0e0e0;
  }

  &.-left {
    border-right: 1px solid #e0e0e0;
  }

  &.-togglable {
    width: 22px;
  }

  &.-open {
    width: 100%;
  }

  .content {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    overflow-x: hidden;
    width: 0;

    > .drawer-content {
      overflow-x: hidden;
    }
  }

  &.toggle {
    cursor: pointer;
    transition: background 250ms ease;
    width: 20px;

    &:hover {
      background-color: #e0e0e0;
    }

    .-icon svg {
      width: inherit;
    }
  }

  .drawer-backdrop {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
