@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url('material_icons.ttf') format('truetype'),
    url('material_icons.woff') format('woff'),
    url('material_icons.svg') format('svg');
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  font-style: normal;
  font-variant-ligatures: discretionary-ligatures;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: 0;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
