.layout {
  &.-disable {
    opacity: 0.5;
    pointer-events: none;
  }

  .layout-content {
    opacity: 1;
    position: relative;
    height: 100vh;
    transition: opacity 0.5s ease;
    width: 100vw;

    &.-disable {
      opacity: 0.2;
      pointer-events: none;
      transition: opacity 0.5s ease;
    }

    .main-container {
      height: 100%;
      opacity: 1;
      width: 100vw;
      transform: translateZ(0);
      transition: all 0.5s ease;

      &.-disable {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.1s ease;
      }

      &.-one-drawer {
        width: calc(100vw - 22px);
      }

      &.-two-drawers {
        width: calc(100vw - 44px);
      }

      &.-two-drawers.-dynamic-right {
        width: calc(100vw - 61px);
      }

      &.-two-drawers-open,
      &.-one-drawer-open,
      &.-dynamic-right-open {
        width: 0;
      }

      @media (min-width: 500px) {
        &.-two-drawers-open {
          width: calc(100vw - 640px);
        }

        &.-one-drawer-open {
          width: calc(100vw - 320px);
        }

        &.-two-drawers.-one-drawer-open {
          width: calc(100vw - 340px);
        }

        &.-two-drawers-open.-dynamic-right-open {
          width: calc(100vw - 635px);
        }

        &.-dynamic-right-open.-half {
          width: calc(100vw - 500px);
        }
      }
      @media (min-width: 1200px) {
        &.-dynamic-right-open.-half {
          width: calc(100vw - 700px);
        }
      }

      &.-close {
        overflow: hidden;
        height: 0;
      }

      > main {
        background-color: #f5f5f5;
        width: 100%;
      }

      &.-dynamic-right-open.-full {
        width: 0 !important;
      }
    }

    .-bottom-sheet {
      position: absolute;
      z-index: 100;
      height: 100%;
    }
  }

  [data-react-toolbox='progress-bar'] {
    position: absolute;
    z-index: 10;
    top: 3.75rem;

    &.-main-container-loading {
      top: 4rem;
    }

    &.-hide-loader {
      display: none;
    }
  }

  [data-react-toolbox='progress-bar'].-bottom-sheet {
    top: 6rem !important;
    z-index: 200 !important;
  }

  &.-platform-win32 {
    border-color: #e0e0e0;

    .inline-drawer.-right,
    .inline-drawer.-dynamic-right {
      border-right: #e0e0e0;
      border-right-width: 2px;

      &:not(.-dynamic-right).-open {
        border-right-width: 1px;
      }
    }

    .variables-container {
      border-right: #e0e0e0;
      border-right-width: 2px;
    }

    .shrink-container,
    .graph-content {
      border-right: #e0e0e0;
      border-bottom: #e0e0e0;
      border-right-width: 2px;
    }
  }
}
