.layout {
  &.-disable {
    opacity: 0.5;
    pointer-events: none;
  }
  .layout-content {
    opacity: 1;
    position: relative;
    height: 100vh;
    transition: opacity 0.5s ease;
    width: 100vw;
    &.-disable {
      opacity: 0.2;
      pointer-events: none;
      transition: opacity 0.5s ease;
    }
    .main-container {
      height: 100%;
      opacity: 1;
      width: 100vw;
      transform: translateZ(0);
      transition: all 0.5s ease;
      &.-disable {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.1s ease;
      }
      &.-close {
        overflow: hidden;
        height: 0;
      }
      > main {
        background-color: #f5f5f5;
        width: 100%;
      }
    }
  }
  [data-react-toolbox='progress-bar'] {
    position: absolute;
    z-index: 10;
    top: 3.75rem;
    &.-main-container-loading {
      top: 4rem;
    }
    &.-hide-loader {
      display: none;
    }
  }
}
