@import '../../../scss/variables';

.layout {
  height: unset;
  min-height: 100vh;
  background: #000;

  &.-disable {
    opacity: 0.5;
    pointer-events: none;
  }

  .layout-content {
    opacity: 1;
    position: relative;
    transition: opacity 0.5s ease;
    padding-top: #{$navbar-height}px;
    width: 100%;
    min-height: calc(100vh - #{$navbar-height}px);

    &.-disable {
      opacity: 0.2;
      pointer-events: none;
      transition: opacity 0.5s ease;
    }

    .main-container {
      opacity: 1;
      transform: translateZ(0);
      transition: all 0.5s ease;

      &.-disable {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.1s ease;
      }

      &.-close {
        overflow: hidden;
        height: 0;
      }

      > main {
        width: 100%;
        > div {
          width: 100%;

          &.layout-padding {
            padding: #{$main-layout-padding}px;
          }
        }
      }
    }
  }

  [data-react-toolbox='progress-bar'] {
    position: absolute;
    z-index: 10;
    top: 3.75rem;

    &.-main-container-loading {
      top: 4rem;
    }

    &.-hide-loader {
      display: none;
    }
  }
}
