$size: 24px;

.button-group {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &.-disabled {
    background-color: #e0e0e0;

    [class*='theme--iconMenu--'] {
      border-left: 1px solid #9e9e9e;

      > button .cx-icon {
        color: #9e9e9e;
      }
    }
  }

  &.-small {
    border-radius: 12px;

    button.action {
      font-size: 12px;
      padding-right: 4px;
      padding-left: 4px;
      height: $size;
      line-height: $size + 2px;
      min-width: 60px;
    }
  }

  &.-medium {
    border-radius: 24px;

    button.action {
      font-weight: 700;
      height: 30px;
      line-height: 30px;
      min-width: 65px;
    }

    [class*='theme--iconMenu--'] > button {
      top: 3px;
    }
  }

  button.action {
    text-transform: capitalize;
    margin: 0;

    &:not(:only-child) {
      padding-right: 0;

      &:first-child {
        border-radius: 24px 0 0 24px;
      }
    }

    &:not([disabled]) {
      color: white;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  [class*='theme--iconMenu--'] {
    border-left: 1px solid rgba($color: white, $alpha: 0.4);

    > button {
      padding-right: 2px;
      height: $size;
      line-height: 0;
      width: $size;

      .-icon {
        color: white;
        height: $size - 6px;
        width: $size - 6px;
      }
    }

    [data-react-toolbox='menu'] {
      [class*='theme--menuInner-'] {
        padding: 0;

        [class*='theme--menuItem-'] {
          padding-left: 8px;
        }

        [data-react-toolbox='font-icon'] {
          height: 26px;
          width: 32px;
        }
      }
    }
  }
}
